.preview_container {
  font-family: 'Open Sans', sans-serif;
}

.preview_header {
  margin-left: 30px;
}

.preview_title {
    margin-left: 10px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
    height: auto;
    display: inline-block;
}

.preview_icons {
  display: inline-block;
}

.preview_icons img {
  height: 20px;
  width: 20px;
}

.preview_icons object {
  height: 20px;
  width: 20px;
}

.preview_icons ul {
  margin-left: 50px;
  columns: 5;
  column-rule: 1px solid #778293;
}

.preview_icons ul li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.preview_icons_tooltip {
  border-radius: 5px;
  color: #ffffff;
  background-color: #778293;
}

.preview_status {
    margin-left: 40px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
    background-color: #f5faff;
}

.preview_status_title {
    margin-left: 10px;
}

.preview_status_detail {
    font-weight: bold;
    margin-right: 10px;
}

.preview_categories {
  margin-top: 20px;
  margin-left: 30px;
}

.preview_categories ul {
    columns: 5;
    column-rule: 1px solid #778293;
    line-height: 150%;
}

.preview_categories ul li {
    list-style-type: none;
    font-size: 0.9em;
    font-weight: bold;
    color: #778293;
    margin-left: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.preview_categories ul li:hover {
    color: #1d2531;
    background-color: #f8f8f8;
}

.preview_content {
    vertical-align: top;
}

.preview_summary {
    width: 255px;
}

.preview_main_data {
    width: 1100px;
}

.section_title {
    background-color: #4A687A;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
}

.section_group {
    background-color: #FFFFFF;
    border-top: 1px solid #DADAD6;
    border-left: 1px solid #DADAD6;
    border-right: 2px solid #C2C1BA;
    border-bottom: 2px solid #C2C1BA;
    padding: 10px;
    margin-top: 15px;
}

.field_name {

}

.field_value {
    font-weight: bold;
}

hr {
    color: #333;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.alignRight {
    text-align: right;
}
