.loading {
  width: 200px;
  height: 100px;
  background-color: white;
  z-index: 999999999;
  display: block;
  border: 3px solid darkgrey;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.loading > span {
  position: relative;
  top: 39px;
}

.loading > img {
  position: relative;
  top: 38px;
}

.loading_icon {
  width: 20px;
  /*content: url('../../assets/images/ajax-loader.gif');*/
  margin-left: 3px;
}
