.primary_sector {
  display: inline-block;
  width: 50%;
  padding-bottom: 10px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.secondary_sector {
  display: inline-block;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}
