.header {
  text-transform: uppercase;
  background-color: #FFFFCC;
  font-weight: bold;
  margin-top: 1em;
}

.subtotal_footer_legend {
  text-transform: uppercase;
  background-color: #eeeeee;
  font-weight: bold;
  border-top: 1px solid #000000;
}

.subtotal_footer_number {
  background-color: #eeeeee;
  font-weight: bold;
  border-top: 1px solid #000000;
  float: right;
}

.funding_table {
  width: 45%;
  margin-left: 4%;
  font-weight: bold;
}
