.container {
  max-width: 675px;
  min-width: 675px;
}

.clear {
  clear: both;
}

.section_header {
  color: #3a84b3;
  font-family: 'open_sansextrabold', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-left: 20px;
}

.byline {
  font-size: 0.85em;
  font-weight: bold;
  background-color: #e4fdd9;
  color: #65b457;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
