.section_header {
  color: #3a84b3;
  font-family: 'open_sansextrabold', sans-serif;
  text-transform: uppercase;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-left: 20px;
}

.funding_detail {
  margin-bottom: 10px;
}

.funding_field_name {
  font-size: 0.85em;
  color: #767676;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 5px;
}

.funding_field_value {
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.two_box_table {
  margin-left: 20px;
  /*border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;*/
  border-collapse: collapse;
  width: 100%;
}

.two_box_table td {
  width: 50%;
  padding-left: 20px;
  /*border-top: 1px solid #ebebeb;*/
  border-bottom: 1px solid #ebebeb;
}

.two_box_table tr td:first-child {
  padding-left: 0px;
  border-right: 1px solid #ebebeb;
}
