.docList {
  border-collapse: collapse;
  display: table;
  width: 100%;
}
.header {
  display: flex;
}
.downloadIconContainer {
  float: right;
  border-left: 1px solid #ebebeb;
  padding: 15px;
}
.downloadIcon {
  width: 20px;
  margin-left: 3px;
  content: url('../../../../assets/images/download.svg');
}
.urlIcon {
  width: 20px;
  margin-left: 3px;
  content: url('../../../../assets/images/goto_url.svg');
}